body
{
	background-color: #fffffe;
	font-family: sans-serif, Arial;
	font-size: 10pt;
}


#cg_body_margin
{
	padding: 8px;
}

ul
{
	padding-top: 10px;
	padding-left: 40px;
	padding-bottom: 10px;
}

table.body
{
	background-color: #fffffe;
	font-family: sans-serif, Arial;
	font-size: 10pt;
}

table.menu
{
    background-color: #FFC523;
    display: block;
    font-family: sans-serif, Arial;
    font-size: 10pt;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

table.header
{
    background-color: #002448;
    font-family: sans-serif, Arial;
    font-size: 10pt;
    margin-bottom: 1px;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 3px;
    padding-right: 5px;
}

table.figures
{
	clear: both;
    font-size: 10pt;
    padding-bottom: 15px;
    padding-top: 15px;
}

table.figures td
{
	padding-left: 20px;
	padding-right: 20px;
}

td.marked
{
	background-color: #002448;
}

#cgl
{
	font-size: 24pt;
	padding-top: 10px;
	padding-bottom: 0px;
}

#uf
{
	font-size: 14pt;
	padding-top: 5px;
	padding-bottom: 10px;
}

#bottom
{
	font-size: 9pt;
	padding-left: 0px;
	padding-right: 0px;
}

#nopadding {
	padding-left: 0px;
	padding-right:0px
}

.subtitle
{
	font-weight: bold;
}

/* anchor style for title */
a.title
{
    color: #ffffff;
    display: block;
    font-family: sans-serif, Arial;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

a.title:hover
{
    color: #ffffee;
    font-family: sans-serif, Arial;
    font-weight: normal;
}

/* anchor style for menu */
a.menu
{
    color: #ffffff;
    font-family: sans-serif, Arial;
    font-weight: normal;
    display: block;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    padding-right: 10px;
    text-decoration: none;
}

a.menu:hover
{
    color: #ffffee;
    font-family: sans-serif, Arial;
    font-weight: normal;
}

/* anchor style for submenu */
a.submenu
{
    color: #993300;
    display: block;
    font-family: sans-serif, Arial;
    font-weight: normal;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    padding-right: 10px;
    text-decoration: none;
}

a.submenu:hover
{
	color: #003399;
	font-family: sans-serif, Arial;
	font-weight: normal;
}

/* anchor style for footer */
a.footer
{
    color: #002448;
    font-family: sans-serif, Arial;
    font-weight: bold;
    text-decoration: none;
}

a.footer:hover
{
    color: #FFC523;
    font-family: sans-serif, Arial;
    font-weight: bold;
    text-decoration: none;
}

/* general anchor style */
a
{
    color: #FFC523; /* cg-original: #FFC523 */
    font-family: sans-serif, Arial;
    font-weight: bold;
    text-decoration: none;
}

a:hover
{
    color: #002448;
    font-family: sans-serif, Arial;
    font-weight: bold;
    text-decoration: none;
}

/* paragraph style */
p
{
    display: block;
    font-family: sans-serif, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    text-indent: 0px;
    word-spacing: 0px;
}

/* heading style */

h1
{
    color: #002448;
    display: block;
    font-family: sans-serif, Arial;
    font-size: 24pt;
    line-height: 100%;
    margin: 0px;
    padding: 20px 0px 7px 0px;
}

h2
{
    color: #002448;
    display: block;
    font: normal 18pt sans-serif, Arial;
    margin: 0px;
    padding: 30px 0px 7px 0px;
}

h3
{
	clear: both;
    color: #002448;
    display: block;
    font: normal 14pt sans-serif, Arial;
    margin: 0px;
    padding: 20px 0px 7px 0px;
}
h4
{
	clear: both;
    color: #002448;
    display: block;
    font: bold 12pt sans-serif, Arial;
    margin: 0px;
    padding: 20px 0px 7px 0px;
}
h5
{
    color: #002448;
    display: block;
    font: bold 10pt sans-serif, Arial;
    margin: 0px;
    padding: 20px 0px 7px 0px;
}
ul
{
	list-style-type: circle
}

li
{
	font-family: sans-serif, Arial;
	margin-top: 0px;
	margin-bottom: 20px;
}

.margin {
}


.content_dir {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.content_dir ul {
	padding-left: 20px;
}


.content_dir li {
	margin: 0px;
	padding: 0px;
}

.content_dir a {
    color: #002448;
    font-family: sans-serif, Arial;
    font-weight: bold;
    text-decoration: none;
}

.content_dir a:hover {
    color: #FFC523;
}


.normallist li {
	margin: 0px;
	padding: 0px;
}


p.open
{
	color: #e1b200;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
}

